.itemsList :global(.fr-tabs__list) {
  /* fr-container rules */
  width: 100%;
  max-width: 78rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.mainContainer {
  background-color: var(--artwork-background-blue-france);
}
