.cardContainer {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
}

.cardWrapper {
  width: 100%;
  min-height: 200px;
}

.gridContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 2rem;
}

.root {
  height: 100%;
  min-height: 200px;
}

.vacancyContainer {
  border-bottom: 1px solid var(--border-default-grey);
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.symbol {
  align-self: center;
}

.contentSpaceBetween {
  justify-content: space-between;
}

.contentCenter {
  justify-content: center;
}
