.cardContainer {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  width: 100%;
  border-bottom: 1px solid var(--border-default-grey);
}

.cardWrapper {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 2rem;
}

.root {
  height: 100%;
  min-height: 10rem;
}
