.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.title {
  color: var(--text-title-blue-france);
}

.shadow {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 18, 0.16);
}

.item {
  min-height: 136px;
}
