.stepContainer {
  align-items: center;
  display: flex;
  height: 3rem;
  gap: 0.5rem;
}

.stepNumberBase {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 2.5rem;
  justify-content: center;
  min-width: 2.5rem;
}

.stepNumber {
  composes: stepNumberBase;
  border: 1px solid #ddd;
  color: #161616;
}

.stepNumberActive {
  composes: stepNumberBase;
  background-color: var(--background-flat-blue-france);
  border: none;
  color: white;
}

.stepNumberInactive {
  composes: stepNumberBase;
  border: 1px solid #ddd;
  background-color: transparent;
  color: #161616;
}

.stepNumberCompleted {
  composes: stepNumberBase;
  border: 1px solid var(--background-flat-blue-france);
  background-color: white;
  color: var(--background-flat-blue-france);
}

.stepNumber span {
  min-width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stepDelimitor {
  margin-left: 1.25rem;
  min-height: 3rem;
  border-left: 1px solid var(--background-alt-grey-active);
}

.badgeContainer {
  margin-left: -1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.epciTag {
  display: inline-flex;
  align-items: center;
  align-self: flex-start;
  gap: 0.5rem;
  padding: 8px 8px;
  background-color: white;
  border-radius: 16px;
  font-size: 0.875rem;
  color: var(--text-label-blue-france);
  margin-left: 2rem;
  width: fit-content;
}

.iconEpciTag::before {
  --icon-size: 1rem;
  color: var(--text-label-blue-france);
}

.epciRateContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.rateTag {
  display: inline-flex;
  align-items: center;
  align-self: flex-start;
  gap: 0.5rem;
  padding: 6px 12px;
  background-color: white;
  border-radius: 16px;
  font-size: 0.8125rem;
  color: var(--text-mention-grey);
  margin-left: 2.5rem;
  width: fit-content;
}
