.table {
  border-collapse: collapse;
  border: 1px solid #1f2937;
  width: 100%;
}

.title {
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-decoration: underline;
}

.cell {
  border: 1px solid #1f2937;
  padding: 0.5rem;
  text-align: center;
}

.cellMinWidth {
  composes: cell;
  min-width: 4rem;
}

.headerCell {
  composes: cell;
  background-color: #f3f4f6;
  font-weight: 600;
}

.headerCellSpan {
  composes: headerCell;
  background-color: #e5e7eb;
}
