.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.inputsContainer {
  display: flex;
  gap: 1rem;
}

.filtersContainer {
  align-items: center;
  display: flex;
  justify-content: center;
}
